http_interactions:
- request:
    method: post
    uri: https://core.ac.uk/api-v2/search
    body:
      encoding: ''
      string: '[{"query":"-social -science(data AND mining) AND year:[2013 TO 2014]","page":1,"pageSize":10},{"query":"-medicine(machine
        AND learning) AND year:[2000 TO 2016]","page":1,"pageSize":10}]'
    headers:
      Content-Type: application/json
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '[{"status":"OK","totalHits":30923,"data":[{"_index":"articles_2019_06_05","_type":"article","_id":"23260687","_score":31.039104,"_source":{"id":"23260687","authors":["Data
        Mining"],"citations":[],"contributors":["The Pennsylvania State University
        CiteSeerX Archives"],"datePublished":"2013-09-30","deleted":"ALLOWED","description":"an
        introductio","fullText":null,"fullTextIdentifier":"http:\/\/citeseerx.ist.psu.edu\/viewdoc\/summary?doi=10.1.1.359.7842","identifiers":["oai:CiteSeerX.psu:10.1.1.359.7842",null],"journals":null,"language":null,"duplicateId":null,"publisher":null,"rawRecordXml":"\u003Crecord\u003E\u003Cheader\u003E\u003Cidentifier\u003E\n    \n      \n        oai:CiteSeerX.psu:10.1.1.359.7842\u003C\/identifier\u003E\u003Cdatestamp\u003E\n        2013-09-30\u003C\/datestamp\u003E\n      \u003C\/header\u003E\u003Cmetadata\u003E\u003Coai_dc:dc
        xmlns:oai_dc=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/\u0022
        xmlns:dc=\u0022http:\/\/purl.org\/dc\/elements\/1.1\/\u0022 xsi:schemaLocation=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/
        http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc.xsd\u0022 \u003E\u003Cdc:title\u003E\n      \n        \n          white
        paper Data Mining:\u003C\/dc:title\u003E\u003Cdc:creator\u003E\n          Data
        Mining\u003C\/dc:creator\u003E\u003Cdc:description\u003E\n          an introduction\u003C\/dc:description\u003E\u003Cdc:contributor\u003E\n          The
        Pennsylvania State University CiteSeerX Archives\u003C\/dc:contributor\u003E\u003Cdc:publisher\u003E\n          \u003C\/dc:publisher\u003E\u003Cdc:date\u003E\n          2013-09-30\u003C\/dc:date\u003E\u003Cdc:date\u003E\n          2013-09-30\u003C\/dc:date\u003E\u003Cdc:format\u003E\n          application\/pdf\u003C\/dc:format\u003E\u003Cdc:type\u003E\n          text\u003C\/dc:type\u003E\u003Cdc:identifier\u003E\n          http:\/\/citeseerx.ist.psu.edu\/viewdoc\/summary?doi=10.1.1.359.7842\u003C\/dc:identifier\u003E\u003Cdc:source\u003E\n          http:\/\/www.cs.xu.edu\/csci390\/07s\/dmintro.pdf\u003C\/dc:source\u003E\u003Cdc:language\u003E\n          en\u003C\/dc:language\u003E\u003Cdc:rights\u003E\n          Metadata
        may be used without restrictions as long as the oai identifier remains attached
        to it.\u003C\/dc:rights\u003E\n        \u003C\/oai_dc:dc\u003E\n      \u003C\/metadata\u003E\n    \u003C\/record\u003E","relations":[],"repositories":[{"id":"145","openDoarId":0,"name":"CiteSeerX","uri":null,"urlHomepage":null,"urlOaipmh":null,"uriJournals":null,"physicalName":"noname","source":null,"software":null,"metadataFormat":null,"description":null,"journal":null,"roarId":0,"pdfStatus":null,"nrUpdates":0,"disabled":false,"lastUpdateTime":null,"repositoryLocation":null}],"repositoryDocument":{"pdfStatus":0,"textStatus":0,"metadataAdded":1414011362000,"metadataUpdated":1529440910000,"timestamp":1380495600000,"depositedDate":1380495600000,"indexed":1,"deletedStatus":"0","pdfSize":0,"tdmOnly":false,"pdfOrigin":"http:\/\/citeseerx.ist.psu.edu\/viewdoc\/summary?doi=10.1.1.359.7842"},"similarities":null,"subjects":["text"],"title":"white
        paper Data Mining:","topics":[],"types":[],"urls":["http:\/\/citeseerx.ist.psu.edu\/viewdoc\/summary?doi=10.1.1.359.7842","http:\/\/www.cs.xu.edu\/csci390\/07s\/dmintro.pdf"],"year":2013,"doi":null,"oai":"oai:CiteSeerX.psu:10.1.1.359.7842","downloadUrl":"","pdfHashValue":null,"documentType":null,"documentTypeConfidence":null,"citationCount":null,"estimatedCitationCount":null,"acceptedDate":null,"depositedDate":1380495600000,"publishedDate":null,"issn":null,"crossrefDocument":null,"magDocument":null}},{"_index":"articles_2019_06_05","_type":"article","_id":"109199257","_score":30.624296,"_source":{"id":"109199257","authors":["Data
        Mining"],"citations":[],"contributors":["The Pennsylvania State University
        CiteSeerX Archives"],"datePublished":"2013","deleted":"ALLOWED","description":"www.cscanada.net
        www.cscanada.or","fullText":null,"fullTextIdentifier":"http:\/\/www.cscanada.net\/index.php\/css\/article\/download\/j.css.1923669720141001.3046\/5572\/","identifiers[...]
[...]
