http_interactions:
- request:
    method: post
    uri: https://core.ac.uk/api-v2/search
    body:
      encoding: ''
      string: '[{"query":"title:psychology","page":1,"pageSize":10},{"query":"doi:\"10.1186/1471-2458-6-309\"","page":1,"pageSize":10},{"query":"language.name:german","page":1,"pageSize":10}]'
    headers:
      Content-Type: application/json
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '[{"status":"OK","totalHits":97981,"data":[{"_index":"articles_2019_06_05","_type":"article","_id":"105766275","_score":13.560386,"_source":{"id":"105766275","authors":["Stephanie
        R. Graham","Holly Stadler","Jamie Carney","Annette Kluck","George T. Flowers","Stephanie
        R. Graham"],"citations":[],"contributors":["The Pennsylvania State University
        CiteSeerX Archives"],"datePublished":"2009","deleted":"ALLOWED","description":"Except
        where reference is made to the work of others, the work described in this
        dissertation is my own and done in collaboration with my advisory committee.
        The dissertation does not include proprietary or classified information","fullText":null,"fullTextIdentifier":"https:\/\/etd.auburn.edu\/bitstream\/handle\/10415\/1762\/Graham%20FINAL%20Dissertation-pdf.pdf%3Bjsessionid%3D86E020ECF0237C3DA44BE3B9DDF32654?sequence%3D1","identifiers":["oai:CiteSeerX.psu:10.1.1.857.10",null],"journals":null,"language":null,"duplicateId":null,"publisher":null,"rawRecordXml":"\u003Crecord\u003E\u003Cheader\u003E\u003Cidentifier\u003E\n    \n      \n        oai:CiteSeerX.psu:10.1.1.857.10\u003C\/identifier\u003E\u003Cdatestamp\u003E\n        2016-09-08\u003C\/datestamp\u003E\n      \u003C\/header\u003E\u003Cmetadata\u003E\u003Coai_dc:dc
        xmlns:oai_dc=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/\u0022
        xmlns:dc=\u0022http:\/\/purl.org\/dc\/elements\/1.1\/\u0022 xsi:schemaLocation=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/
        http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc.xsd\u0022 \u003E\u003Cdc:title\u003E\n      \n        \n          Psychology
        Psychology\u003C\/dc:title\u003E\u003Cdc:creator\u003E\n          Stephanie
        R. Graham\u003C\/dc:creator\u003E\u003Cdc:creator\u003E\n          Holly Stadler\u003C\/dc:creator\u003E\u003Cdc:creator\u003E\n          Jamie
        Carney\u003C\/dc:creator\u003E\u003Cdc:creator\u003E\n          Annette Kluck\u003C\/dc:creator\u003E\u003Cdc:creator\u003E\n          G[...]
- request:
    method: post
    uri: https://core.ac.uk/api-v2/search
    body:
      encoding: ''
      string: '[{"query":"title:psychology","query.1":"doi:\"10.1186/1471-2458-6-309\"","query.2":"language.name:german","page":1,"pageSize":10}]'
    headers:
      Content-Type: application/json
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '[{"status":"OK","totalHits":97981,"data":[{"_index":"articles_201[...]
