http_interactions:
- request:
    method: post
    uri: https://core.ac.uk/api-v2/search
    body:
      encoding: ''
      string: '[{"query":"\"deep learning\"(medicine OR cancer) AND year:[1900 TO
        2014] AND author:(Geoffrey AND Hinton)","page":1,"pageSize":10},{"query":"\"neuroscience\"(image)
        AND year:[1900 TO 2016] AND author:(Geoffrey AND Hinton)","page":1,"pageSize":10}]'
    headers:
      Content-Type: application/json
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '[{"status":"Not found","totalHits":0,"data":null},{"status":"Not found","totalHits":0,"data":null}]'
  recorded_at: 2020-04-30 18:11:07 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
