http_interactions:
- request:
    method: get
    uri: https://core.ac.uk/api-v2/search/ecology?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","totalHits":1326248,"data":[{"_index":"articles_2019_06_05","_type":"article","_id":"102353278","_score":18.496204,"_source":{"id":"102353278","authors":["Rquantitative
        Ecology Terrestrial","Fisheries Ecology"],"citations":[],"contributors":["The
        Pennsylvania State University CiteSeerX Archives"],"datePublished":"2015-08-22","deleted":"ALLOWED","description":"ecologists
        have progressed far beyond this simple duplex, explaining numerousaspects
        of the nested causes and consequences of population cycling at multiple trophic
        levels, including some relating directly to the plants that haresgraze [1],
        andmanagement of terrestrial ecosystems is a mature discipline in which multi-species
        interactions and socio-economics are often considered holistically [2]. But
        our understanding of a \u2018green world\u2019. An example from themarine
        environment shows how plants are denuded by herbivores when predators are
        removed: off the coast of Alaska, forests of kelp thrive in the nutrient-rich
        waters, supporting communities of sea urchins that are in turn consumed by
        sea otters; when killer whales moved closer in shore from their usual open-ocean
        hunting grounds in the early 1990s and began to eat sea otters, otter numbers
        plummeted and urchins boomed inPeng, C.C., Yu, X.C., Zhu, S.Y., et al. (2006).
        The Mg-chelatase H subunit is an abscisic acid receptor. Nature 443","fullText":null,"fullTextIdentifier":"http:\/\/www.st-andrews.ac.uk\/~perg\/Brierley_Current_Biol_17_2007.pdf","identifiers":["oai:CiteSeerX.psu:10.1.1.618.5850",null],"journals":null,"language":null,"duplicateId":null,"publisher":null,"rawRecordXml":"\u003Crecord\u003E\u003Cheader\u003E\u003Cidentifier\u003E\n    \n      \n        oai:CiteSeerX.psu:10.1.1.618.5850\u003C\/identifier\u003E\u003Cdatestamp\u003E\n        2015-08-23\u003C\/datestamp\u003E\n      \u003C\/header\u003E\u003Cmetadata\u003E\u003Coai_dc:dc
        xmlns:oai_dc=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/\u0022
        xmlns:dc=\u0022http:\/\/purl.org\/dc\/elements\/1.1\/\u0022 xsi:schemaLocation=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/
        http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc.xsd\u0022 \u003E\u003Cdc:title\u003E\n      \n        \n          Dispatch\u003C\/dc:title\u003E\u003Cdc:creator\u003E\n          Rquantitative
        Ecology Terrestrial\u003C\/dc:creator\u003E\u003Cdc:creator\u003E\n          Fisheries
        Ecology\u003C\/dc:creator\u003E\u003Cdc:description\u003E\n          ecologists
        have progressed far beyond this simple duplex, explaining numerousaspects
        of the nested causes and consequences of[...]
[...]
