http_interactions:
- request:
    method: post
    uri: https://core.ac.uk/api-v2/search
    body:
      encoding: ''
      string: '[{"query":"language.name:german","page":1,"pageSize":10}]'
    headers:
      Content-Type: application/json
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '[{"status":"Not found","totalHits":0,"data":null}]'
  recorded_at: 2020-07-07 00:14:53 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
