http_interactions:
- request:
    method: get
    uri: https://core.ac.uk/api-v2/articles/get/21132995?metadata=true&fulltext=false&citations=false&similar=false&duplicate=false&urls=false&extractedUrls=false&faithfulMetadata=false
    body:
      encoding: ''
      string: ''
    headers:
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","data":{"id":"21132995","authors":[],"contributors":["The
        Pennsylvania State University CiteSeerX Archives"],"datePublished":"2010-02-17","description":"Abstract.
        This paper discusses the potential contribution of an eco-theology to the
        management of marine resources. The claim of the Christian gospel is that
        God has a plan for everything in the universe and we are to live to bring
        it about. The Hebrew\/Christian world view is significantly different from
        naturalism and humanism, the prevailing Greek world views in natural resource
        management. Three biblical paradigms are examined with insights in[...]
