http_interactions:
- request:
    method: get
    uri: https://core.ac.uk/api-v2/search/ecology?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","totalHits":1219239,"data":[{"_index":"articles_2019_06_05","_type":"article","_id":"20955435","_score":18.43124,"_source":{"id":"20955435","authors":["Ecology"],"citations":[],"contributors":["The
        Pennsylvania State University CiteSeerX Archives"],"datePublished":"2008-12-30","deleted":"ALLOWED","description":"Dedicated
        to my family for their encouragement and support, and especially to my grandfather
        who has taught me much more about life than just how to play chess with special
        thanks to Ralf Gamillscheg, Bernd Lorenzoni, Martina J\u00f6rgler and Thomas
        Traub for choosing the parameters of several disease configurations that have
        been studied in chapter 4. i ii In this thesis, first the fundamentals of
        Cellular Automata have been summarized and a small survey of their application
        range in ecology (with focus on disease spreading) has been given","fullText":null,"fullTextIdentifier":"http:\/\/citeseerx.ist.psu.edu\/viewdoc\/summary?doi=10.1.1.131.7829","identifiers":["oai:CiteSeerX.psu:10.1.1.131.7829",null],"journals":null,"language":null,"duplicateId":null,"publisher":null,"rawRecordXml":"\u003Crecord\u003E\u003Cheader\u003E\u003Cidentifier\u003E\n    \n      \n        oai:CiteSeerX.psu:10.1.1.131.7829\u003C\/identifier\u003E\u003Cdatestamp\u003E\n        2008-12-30\u003C\/datestamp\u003E\n      \u003C\/header\u003E\u003Cmetadata\u003E\u003Coai_dc:dc
        xmlns:oai_dc=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/\u0022
        xmlns:dc=\u0022http:\/\/purl.org\/dc\/elements\/1.1\/\u0022 xsi:schemaLocation=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/
        http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc.xsd\u0022 \u003E\u003Cdc:title\u003E\n      \n        \n          Klaus
        Lichtenegger Stochastic Cellular Automata Models in Disease Spreading\u003C\/dc:title\u003E\u003Cdc:creator\u003E\n          Ecology\u003C\/dc:creator\u003E\u003Cdc:description\u003E\n          Dedicated
        to my family for their encouragement and support, and especially to my grandfather
        who has taught me much more about life than just how to play chess with sp[...]
[...]
