http_interactions:
- request:
    method: get
    uri: https://core.ac.uk/api-v2/articles/get/21132995/history?page=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
      apiKey: <<core_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-clacks-overhead: GNU Terry Pratchett
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","data":[{"datetime":"2016-08-03 00:13:41","metadata":"\u003Crecord\u003E\u003Cheader\u003E\u003Cidentifier\u003E\n    \n      \n        oai:CiteSeerX.psu:10.1.1.152.9831\u003C\/identifier\u003E\u003Cdatestamp\u003E\n        2010-02-17\u003C\/datestamp\u003E\n      \u003C\/header\u003E\u003Cmetadata\u003E\u003Coai_dc:dc
        xmlns:oai_dc=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/\u0022
        xmlns:dc=\u0022http:\/\/purl.org\/dc\/elements\/1.1\/\u0022 xsi:schemaLocation=\u0022http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc\/
        http:\/\/www.openarchives.org\/OAI\/2.0\/oai_dc.xsd\u0022 \u003E\u003Cdc:title\u003E\n      \n        \n          \u003C\/dc:title\u003E\u003Cdc:subject\u003E\n          Ecology\u003C\/dc:subject\u003E\u003Cdc:subject\u003E\n          Theology\u003C\/dc:subject\u003E\u003Cdc:subject\u003E\n          Eco-theology\u003C\/dc:subject\u003E\u003Cdc:subject\u003E\n          Fisheries
        Management\u003C\/dc:subject\u003E\u003Cdc:description\u003E\n          Abstract.
        This paper discusses the p[...]
[...]
